<div class="container text-center">

  <div class="check d-flex justify-content-center mt-4 mb-3">
    <p>CONFIRA OS LOOKS QUE SELECIONAMOS PARA VOCÊ 😍</p>
  </div>

  <div class="banner-gif" style="background-image: url(<%= image_path("banner-gif.gif") %>);">
    <h2 class="match" style="background-color: rgb(214, 246, 109)">IT'S A MATCH!<br>MAPEAMOS SEU ESTILO!</h2>
  </div>

  <div class="check d-flex justify-content-center mt-4 mb-4">
    <p class="btn-check"><%= link_to 'MEUS LOOKS 👗', apparels_path %></p>
  </div>

</div>
