<div class="footer">
  <div class="footer-links d-inline">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Carla Kalache</p>
    <p>Renata Bresolin</p>
    <p>Matheus Kaiser Saliba</p>
  </div>
</div>
