<div class="footer">
  <div class="footer-links d-inline">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="slogan">
    <h4>Entendemos seu <strong style="background-color: rgb(214, 246, 109)">estilo</strong> e economizamos seu <strong style="background-color: rgb(214, 246, 109)">tempo</strong>!</h4>
  </div>
</div>
