<div class="banner" style="background-image: url(<%= image_path("backg-home.png") %>);">


<div class="container tag-container d-flex">
  <div class="row justify-content-center">
    <h3>Qual a ocasião?</h3>
      <div class="col-md text-center d-flex">
          <% @tags.each do |tag| %>
              <div class="occasions">
                <i class="fas fa-tshirt"></i>
                <small> <%= link_to tag.content, apparels_path(tag_id: tag.id) %> </small>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
