<div class="banner" style="background-image: url(<%= image_path("backg-home.png") %>);">

  <div class="home-cards">
    <h3 class="text-md-left mt-5 ml-5">Qual a ocasião?</h3>
    <div class="tag-container">
      <% @tags.each do |tag| %>
          <div class="occasions">
            <p> <%= link_to tag.content, apparels_path(tag_id: tag.id)%></p>
          </div>
      <% end %>
    </div>
  </div>

</div>



