<div class="container tag-container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
          <% @tags.each do |tag| %>
            <div class="d-flex flex-wrap justify-content-center pt-4">
              <div class="clickable">
                <p> <%= tag.category %> <%= tag.content %>  </p>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
