
.tags {
  padding: 10px;
  display: flex;
  justify-content: space-beetween;
  flex-wrap: wrap;
  margin-top: 25px;
}

.tag {
  padding: 2px;
}

.card-look {
  margin: 0 auto;
  flex-direction: column;
  background-size: 500px;
  background-repeat: no-repeat;

}

.card-photo {
  width: 300px;
  height: 400px;
  .card-img-top {
    object-fit: cover;
  }
}


