.form-control {
    margin: auto;
    background-color: rgb(255, 192, 239);
    border: 2.5px solid #555555;
    width: 40%;
    font-family: Andale Mono, monospace;
}

.form-control-file, .form-control-range {
  margin: auto;
  width: 40%;
}

.container h2 {
  font-family: Andale Mono, monospace;
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
}

.new_user {
  font-family: Andale Mono, monospace;
}

.login-form {
  width: 40vw;
  font-size: 4.5mm;
  font-family: Andale Mono, monospace;
}

.login-form h2 {
  margin-bottom: 3rem;
  font-family: Andale Mono, monospace;
}


.sing-up {
  width: 40vw;
  font-size: 4.5mm;
  font-family: Andale Mono, monospace;
};

.sing-up h2 {
  margin-bottom: 3rem;
  font-family: Andale Mono, monospace;
}
