.navbar-sixty-secs {
    font-family: Andale Mono, monospace;
    justify-content: space-between;
    background: rgb(255, 192, 239);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.01), 0 6px 6px 0 rgba(0, 0, 0, 0.01);

}

.navbar-sixty-secs .navbar-collapse {
    flex-grow: 0;
}

.navbar-sixty-secs .navbar-brand img {
    width: 70px;
}

