.check p {
  font-family: Andale Mono, monospace;
  font-size: 20px;
  color: #212121;
}

.match {
  color: #212121;
}


.title-tinder {
  color: #212121;
  background-color: rgb(214, 246, 109);
}
.subtitle {
  font-family: Andale Mono, monospace;
  font-size: 18px;
  color: #212121;
}

.card-tinder {
  position: relative;
  min-width: 0;
  word-wrap: break-word;

}

.photo-tinder img {
  width: 400px;
  height: 500px;
    margin-bottom: 70px;
}

.likes-tinder {
  margin-top: 150px;
  flex-direction: column;
  li {
    list-style: none;
  }
}

.fa-thumbs-down {
  font-size: 30px;
  background-color: red;
  border-radius: 50%;
  padding: 10px;
    &:hover {
    color: #212121
  }
}

.fa-thumbs-up {
  font-size: 30px;
  background-color: green;
  border-radius: 50%;
  padding: 10px;
  &:hover {
    color: #212121
  }
}
