.subtitle {
  font-family: Andale Mono, monospace;
  font-size: 18px;
}

.card-tinder {
  display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.fa-thumbs-down, .fa-thumbs-up {
  font-size: 30px;
}
