.subtitle {
  font-family: Andale Mono, monospace;
  font-size: 18px;
}

.card-tinder {
  display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    // background-color: #fff;
    // background-clip: border-box;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    // border-radius: 2px;
}

.fa-thumbs-down, .fa-thumbs-up {
  font-size: 30px;
}
